

body {
    
  background-color: #3498db;
  
  }

  .graph {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .content {
    margin: 6%;
    background-color: #ffffff;
    padding: 4rem 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
   
  }
  
  .form .tab-header {
    height: 50px;
    line-height: 50px;
  }
  
  .form .tab-header > div {
    text-align: center;
    background: #f1f2f6;
    color: #555;
    cursor: pointer;
  }
  
  .form .tab-header > div.active {
    background: #3498db;
    color: #111;
  }
  
  .form .tab-content > div.active {
    display: block;
  }
  
  .form .tab-content > div {
    display: none;
  }
  

  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
 
 
  
  .rounded-full {
    border-radius: 100%;
  }
  
  
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }